.row1{
    padding-top: 10px;
    height: 123px;
}

.row2 {
    padding-bottom: 20px;
}



.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

.sidenav {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}

#flipkart-navbar {
    background-color: rgb(21, 211, 78);
    color: #afffaf;
}

.adidas {
    width: 145px;
    max-height: -webkit-fill-available;
    height: 101px;
    position: relative;
    bottom: 7px;
}

canvas[resize] {
    width: 615px;
    height: 126px;
    max-width: 495px;
    -webkit-transform: scaleX(-1);
    transform: scaleY(-1);
    position: relative;
    bottom: 10px;
    right: 95px;
}