body {
    margin: 0;
    background: url("");
}

::-webkit-scrollbar {
    display: none;
}

#A {
    position: fixed;
    width: 100%;
    height: 100%;
}

.cont {
    position: relative;
}

.A {
    position: relative;
}