*{
	margin:0 !important;
	padding:0 !important;
	color:#aaa !important;
	font-family:'Arial' !important;
	}
	
.menu{
	position: relative !important;
	width:100% !important;
	height: auto !important;
	}
	
.menu>ul{
	list-style:none !important;	
	position:relative !important;
		/** Se der algumm problema foi aqui Tiaguinhoo!!
	 * ok? */
	margin-left:450px !important;
	}
.menu ul li{
		width:200px !important;
		float:left !important;
	}

.menu a{
	padding:15px !important;
	display:block !important;
	text-decoration: none !important;
	background-color: #222 !important;
	text-align:center !important;
	}
.menu ul ul{
	list-style:none !important;
	position:absolute !important;
	visibility:hidden !important;
	
	}
.menu ul li:hover ul{
	visibility:visible !important;
	}
	
.menu a:hover{
	background-color:#f4f4f4 !important;
	}

.menu ul ul li{
	float:none !important;
	border-bottom: solid 1px #ccc !important;
	}
.menu ul ul li a{
	background-color:#069 !important;
	}
#bt_menu{
	display: none !important;
	}
label[for='bt_menu']{
	padding:5px !important;
	background-color:#222 !important;
	color:#fff !important;
	font-family:'Arial' !important;
	text-align:center !important;
	font-size:30px !important;
	cursor:pointer !important;
	display:none !important;
	width:50px !important;
	height:50px !important;
	}	
label[for='bt_menu']:hover{
	background-color:#f4f4f4 !important;
	color:#aaa !important;
	}
@media (max-width: 800px) {
.menu{
	margin-left:-100% !important;
	transition:all .4s !important;
	}
label[for='bt_menu']{
	display:block !important;
	}
.menu>ul{
	margin-left:0 !important;
	}
.menu{
	margin-top:5px !important;
	}
.menu ul li{
	width:100% !important;
	float:none !important;
	}
.menu ul ul{
	position:static !important;
	overflow:hidden !important;
	max-height:0 !important;
	transition:all .4s !important;
	}
.menu ul li:hover ul{
	height:auto !important;
	max-height:200px !important;
	transition:all .4s !important;
	}
#bt_menu:checked ~ .menu{
	margin-left:0 !important;
	}
}

.logo {
	width: 37px !important;
	position: relative !important;
	top: 1px !important;
	right: 1200px !important;
}