html {
	zoom: 73%
}

body{
	-moz-transform: scale(0.1);
	margin: 0;
	padding: 0;
	background-color: #0e6cc4;
	overflow-x:hidden;
	overflow-y: hidden;
}

header{
	height: 3em;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 999;
}

header div{
	height: 100%;
	display: inline-block;
}

#plus{
	width: 3em;
	background-image: url("https://s20.postimg.org/9jdjr9lml/plus.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#info{
	width: 3em;
	background-image: url("https://i.postimg.cc/m2x13xDd/info.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#textInfo{
	color: white;
	font-family: arial;
	width: 25%;
	float: left;
	line-height: 3em;
}

#friends{
	width: 3em;
	background-image: url("https://i.postimg.cc/vHwbv8v1/friends.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#user{
	margin-left: 1em;
	width: 3em;
	background-image: url("https://s20.postimg.org/yvwsexlfh/user.png");
	background-size: 140%;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#userName{
	color: white;
	font-family: arial;
	width: 25%;
	float: left;
	line-height: 3em;
}

#trophies{
	margin-left: 1em;
	width: 3em;
	background-image: url("https://i.postimg.cc/wTKmp1Cx/trophy.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
}

#clock{
	font-family: arial;
	line-height: 3em;
	float: right;
	margin-right: 1em;
	color: white;;
}


#games{
	width: 1120em;
	position: absolute;
	top: .5em;
	left: 0;
	padding: 5em;
	z-index: 99;
	
}

.squareGame{
	height: 11em;
	width: 11em;
	vertical-align: top;
	display: inline-block;
	transition: 0.3s ease;
}

.squareGame:hover{
	height: 16.5em;
	width: 15em;
	border: 3px solid white;
	cursor: pointer;
}

.squareGame:hover .imgGame{
	height: 85%;
}

.imgGame{
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.gameText{
	color: white;
	font-family: arial;
	text-align: center;
	line-height: 2.4em;
	background-color: rgba(255,255,255,.2);
}

.gameTitle{
	position: absolute;
	color: white;
	font-size: 1.2em;
	font-family: Arial;
	transform: translate(13.2em,-1.5em);
}

.ascii{
	font-weight: bold;
}

.ps{
	background-image: url("https://i.postimg.cc/c1pRT9TJ/ps.png");
}

.new{
	background-image: url("https://i.postimg.cc/X7SSnLHG/new.png");
}

.overwatch{
	background-image: url("https://i.postimg.cc/kX3QwRGP/overwatch.png");
}

.rocketLeague{
	background-image: url("https://i.postimg.cc/sfkLSJhY/rl.png");
}

.gta{
	background-image: url("https://gtalogo.com/img/6813.png");
}

.furi{
	background-image: url("https://i.postimg.cc/dtcZTYk6/furi.png");
}

.youtube{
	background-image: url("https://i.postimg.cc/L6KF3S10/yt.png");
}

.bro{
	background-image: url("https://i.postimg.cc/Dykz0PJb/bro.png");
}

.outlast{
	background-image: url("https://i.postimg.cc/8PQ5xhLw/outlast.png");
}

.fifa{
	background-image: url("http://st.cdjapan.co.jp/pictures/l/13/13/HAC-P-AMQ2A.jpg");
}

.ark{
	background-image: url("https://i4.imageban.ru/out/2019/07/07/9af7c075dd4c37e40be8ae299eec1a61.jpg");
}

.fortnite{
	background-image: url("https://img.ibxk.com.br/2018/6/programas/16140715151905132.png");
}

.spiderman{
	background-image: url("https://icegames.co/image/cache/catalog//B07DL1R2TC/Marvels-Spider-Man-Digital-Deluxe-Edition-Pre-Order---PS4-Digital-Code-B07DL1R2T-14-500x500.jpg");
}

.kf{
	background-image: url("https://i1.sndcdn.com/artworks-000291746688-lyxf5j-t500x500.jpg");
}

.crash{
	background-image: url("https://c1.staticflickr.com/5/4217/35473869365_e65588e034.jpg");
}

.daysgone{
	background-image: url("https://live.staticflickr.com/65535/47624494102_d315d896f1.jpg");
}

.friday{
	background-image: url("https://cdn.80.lv/80.lv/uploads/2015/10/JASON-80lv1-e1444878152326.jpg");
}

.battlev{
	background-image: url("https://i1.sndcdn.com/artworks-000415039728-t8bual-t500x500.jpg");
}

.thesims{
	background-image: url("https://simsvip.com/wp-content/uploads/2014/06/TS4_EA_Logo.png");
}

.dbh{
	background-image: url("https://sound-track.ir/wp-content/uploads/2018/06/Detroit-Become-Human-500x500.jpg");
}

.justcause{
	background-image: url("https://www.mishoppingdigital.com/wp-content/uploads/2018/11/Just-Cause-3-1.jpg");
}

.horizon{
	background-image: url("https://m.media-amazon.com/images/I/71mdT22nL+L._SS500_.jpg");
}

.pug {
	background-image: url("https://cdn.discordapp.com/attachments/579617572220043267/608712785794302050/pug.jpg")
}



.storeGame{
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#god{
	background-image: url("https://cdn.discordapp.com/attachments/579617572220043267/608712785794302050/pug.jpg");
}

#raider{
	background-image: url("https://media.istockphoto.com/photos/dog-being-teased-with-a-biscuit-picture-id1148207181?k=6&m=1148207181&s=612x612&w=0&h=LmzN6A1xcPJFUbDV9-vznF2589o-vqIbRR2BnuyXmH0=");
}

#codi{
	background-image: url("https://cdn.discordapp.com/attachments/579617572220043267/608712679149797406/pug.jpg");
}

#mafia{
	background-image: url("https://media.istockphoto.com/photos/dog-being-teased-with-a-biscuit-picture-id1148207129?k=6&m=1148207129&s=612x612&w=0&h=_9pTkvt-SiYRCWLaYjPDzdH1KdpfkFrZgdW5hFGb46U=");
}

#destiny{
	background-image: url("https://media.istockphoto.com/photos/dog-being-teased-with-a-biscuit-picture-id1148207117?k=6&m=1148207117&s=612x612&w=0&h=YkI3fRmlahHcf5AAy1xQ-4WRNB82UODvLp2oeIL-f3g=");
}

#bt1{
	background-image: url("https://cdn.discordapp.com/attachments/579617572220043267/608999837152575498/wAAAABJRU5ErkJggg.png");
}

#lg{
	background-image: url("https://media.gettyimages.com/photos/dog-being-teased-with-a-biscuit-picture-id1148207182?b=1&k=6&m=1148207182&s=612x612&w=0&h=8ZAvIsU1CQk8gnicFt1zLDi013UNhTJogpVTKSajwas=");
}

#per{
	background-image: url("https://cdn.discordapp.com/attachments/579617572220043267/609000685224198154/MVAsyWLLfz4xGfAAAAABJRU5ErkJggg.png");
}


#store{
	padding: 1em;
	padding-top: 6em;
	margin-top: -3em;
	width: 60em;
	height: 25em;
	padding-left: 12em;
}

#store div{
	float: left;
	border: 3px solid rgba(245,245,245,1);
	width: 18em;
	height: 12em;
	display: inline-block;
}

#store div:hover{
	transform: scale(1.1, 1.1);
	box-shadow: 0px 5px 10px 3px rgba(45,45,45,.7);
	transition: 0.3s ease;
}



.box {
	position: fixed;
	top: 0;
	transform: rotate(80deg);
	left: 0;
}

.wave {
	position: fixed;
	top: 0;
	left: 0;
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 10%;
  background: #0af;
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 7000ms infinite linear;
}

.wave.-three {
  animation: drift 7500ms infinite linear;
	position: fixed;
	background-color: #77daff;
}

.wave.-two {
  animation: drift 3000ms infinite linear;
  opacity: .1;
  background: black;
	position: fixed;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}


.contain {
	animation-delay: 4s;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  background: #25a7d7;
  background: -webkit-linear-gradient(#25a7d7, #2962FF);
  background: linear-gradient(#25a7d7, #25a7d7);
}

.icon {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}

.icon:nth-child(2) img {-webkit-animation-delay: 0.2s;animation-delay: 0.2s}
.icon:nth-child(3) img {-webkit-animation-delay: 0.3s;animation-delay: 0.3s}
.icon:nth-child(4) img {-webkit-animation-delay: 0.4s;animation-delay: 0.4s}

.icon img {
  -webkit-animation: anim 2s ease infinite;
  animation: anim 2s ease infinite;
  -webkit-transform: scale(0,0) rotateZ(180deg);
  transform: scale(0,0) rotateZ(180deg);
}

@-webkit-keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}

@keyframes anim{
  0% {
    -webkit-transform: scale(0,0) rotateZ(-90deg);
    transform: scale(0,0) rotateZ(-90deg);opacity:0
  }
  30% {
    -webkit-transform: scale(1,1) rotateZ(0deg);transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  50% {
    -webkit-transform: scale(1,1) rotateZ(0deg);
    transform: scale(1,1) rotateZ(0deg);opacity:1
  }
  80% {
    -webkit-transform: scale(0,0) rotateZ(90deg);
    transform: scale(0,0) rotateZ(90deg);opacity:0
  }
}